#newsletter-header {
  float: left;
  border: 2px solid black;
  width: 100%;
  margin-bottom: 5px;
}

#newsletter-header p {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#button {
  float: left;
  width: 15%;
  margin-top: 10px;
  margin-right: 20px;
}

#button img {
  margin-left: 40px;
  margin-bottom: -10px;
}

#button h3 {
  text-align: center;
  color: navy;
}

#button p {
  margin-left: 5px;
  margin-top: -10px;
}

#button-2 {
  float: left;
  width: 25%;
  margin-top: 10px;
  margin-right: 20px;
}

#button-2 img {
  margin-left: 40px;
  margin-bottom: -10px;
}

#button-2 h3 {
  text-align: center;
  color: navy;
}

#button-2 p {
  margin-left: 5px;
  margin-top: -10px;
}
